/* 레이아웃 (+ 이미지 위치조정) */

.wrapper{
  background-color: #EAE8FE;
  width: 100%;
  height: 963px;
  font-family: 'Noto Sans KR', sans-serif;
}

.main-logo{
  display: block;
  margin: 0 auto;
  width: 386px;
  height: 180px;
}

.tabs{
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 67px;
  width: inherit;
  
}

.tabs .order-tab{
  width: 360px;
  height: 545px;
  background-color:white;
  padding: 31px 28px 27px 27px;
  
}

.tabs .cart-tab{
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 545px;

}

button{
  cursor: pointer;
}

/* order-tab */

.order-tab .cola-list{
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 12px;
  box-sizing: border-box;
}

.cola-list-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 130px;
  background-color: white;
  border-radius: 10px;
  padding: 0;
  border: 3px solid transparent;
  filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.5));
}

.cola-list-item:hover,
.cola-list-item:focus{
  border: 3px solid #6327FE;
  filter: none;
}

.sold-out:hover,
.sold-out:focus{
  border: none;
  filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.5));
}
.sold-out::after{
  content:'';
  border-radius: 10px;
  width: 94px;
  height: 130px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(./img/Sold-out.png);
  background-size: 65px 55px;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.cola-list-item img{
  width: 36px;
  height: 65px;
  margin-top: 11px;
}

.cola-list-item .item-name{
  font-size: 9px;
  font-weight: 500;
  line-height: 13px;
  margin-top: 2px;
  text-overflow: ellipsis;
}
.cola-list-item .price{
  display: block;
  width: 70px;
  height: 22px;
  background-color: #6327FE;
  border-radius: 50px;
  margin-top: 7px;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: white;
}


.order-tab .calculator form{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  width: 306px;
  height: 77px;
  row-gap: 11px;
  column-gap: 12px;
  margin-top: 20px;

}

.order-tab .calculator .balance{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #EAE8FE;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 0 10px;
  border-radius: 5px;
  width: 200px;
}

.order-tab .calculator .balance::before{
  content:'잔액:';
  margin-right: auto;
}

.order-tab .calculator .balance::after{
  content:'원';
}

.order-tab .calculator button{
  background-color: white;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.5));
  border-radius: 5px;
}

.order-tab .calculator .add-money-input{
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  padding: 6px;
}

.order-tab .calculator .add-money-input::placeholder{
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

.wrap-cola-order-list{
  margin-top: 11px;
  display: flex;
  gap: 12px;
  height: 106px;
}

.cola-order-list{
  width: 100%;
  overflow-y: scroll;
  background-color: #EAE8FE;
  padding: 11px 11px 11px 11px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
}

.cola-order-list::-webkit-scrollbar{
  width: 13px;
}

.cola-order-list::-webkit-scrollbar-thumb{
  height: 79px;
  width: 4px;
  background-color: white;
  border-radius: 50px;
  background-clip: padding-box;
  border: 4px solid transparent;
}

.cola-order-list li{
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  height: 46px;
  margin-bottom: 6px;
  padding: 8px;
}

.cola-order-list li img{
  width: 18px;
  height: 33px;
}

.cola-order-list li p{
  font-size: 9px;
  font-weight: 500;
  margin-left: 10px;
}

.cola-order-list li .count{
  width: 30px;
  height: 30px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  font-weight: 500;
  margin-left: auto;
}


.wrap-cola-order-list button{
  width: 145px;
  height: 106px;
  background-color: #6327FE;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
}

/* cart-tab */

.cart-tab .wrap-money{
  background-color: white;
  height: 50px;
  padding: 9px 27px;
}

.cart-tab .wrap-money .money{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 10px;
  background-color: #EAE8FE;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.cart-tab .wrap-money .money::before{
  content:'소지금 :';
  margin-right: auto;
  font-weight: 500;
}

.cart-tab .wrap-money .money::after{
  content:'원';
}

.wrap-acquired{
  background-color: #fff;
  height: 479px;
  margin-top: 16px;
  padding: 25px 26px 27px 26px;
}

.wrap-acquired > p{
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.wrap-acquired .cola-order-list{
  height: 364px;
  margin-top: 13px;
}

.wrap-acquired .total-money{
  display: block;
  width: 100%;
  height: 20px;
  margin-top: 6px;
  text-align: right;
  font-weight: 500;
  font-size: 12px;
}

.wrap-acquired .total-money::before{
  content:'총금액: ';
}

.wrap-acquired .total-money::after{
  content:'원';
}

@media(max-width:600px){
  .tabs{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper{
    width: 100%;
    background-color: white;
  }
  .wrapper .main-logo{
    width: 180px;
    height: 80px;
  }

  .order-tab{
    margin-top: -50px;
  }

  .cart-tab .wrap-money{
    margin-top: -40px;
  }
  
}

