:root {
    font-family: 'Montserrat', sans-serif;
	/*
	font-weight: 500;
	font-weight: 700;
	*/
}

body{
	margin: 0;
	background-color: #673399;
}
.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* header .start */
.start{
	display: flex;
	align-items: center;
	margin-top: 100px;
	color: white;
	width: 1080px;
}
.start h1{
	font-weight: 500;
	width: 290px;
	font-size: 45px;
	position: relative;
}
.start h1::before{
	content:'';
	width: 272px;
	height: 15px;
	background-color: orangered;
	position: absolute;
	top: 51%;
	z-index: -1;
}
.start h1::after{
	content:'';
	width: 215px;
	height: 15px;
	background-color: orangered;
	position: absolute;
	bottom: 3%;
	left: 0%;
	z-index: -1;
}
.start span{
	width: 100px;
	height: 1px;
	background-color: #fff;
	margin-right: 30px;
}
.start p{
	width: 520px;
	line-height: 1.5em;
	color: #a887e1;
}

/* main .card */
.cards img{
	width: 250px;
}
.cards{
	display: flex;
	justify-content: center;
	margin-top: 80px;
	width: 1080px;

}
.cards h2{
	display: none;
}
.cards .card{
	display:flex;
	justify-content: flex-start;
	background-color: #fff;
}
.card ul{
	padding: 24px;
	margin: 0;
	width: 783px;
}
.card ul li{
	list-style: none;
	position: relative;
}
.card ul li p{
	font-size: 14px;
	margin: 0;
	margin-top: 15px;
}
.card ul li h3{
	font-size: 18px;
	margin: 0;
	margin-bottom: 35px;
}
.card ul li p::before{
	content:'';
	width: 10px;
	height: 10px;
	background-color: #bd8fe8;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
}
.cards .card ul li:first-child{
	list-style: none;
	color: #673399;
}
